.bullet-list li {
     border-top: 1px solid #e5e5e5;
 }

 .bullet-list {
     padding: 30px 0;
     font-size: 15px;
 }

 .bullet a {
     font-weight: 700;
     font-size: 18px;
     color: #181818;
 }

 .headlines-title {
     letter-spacing: .25px;
     color: #FF0500;
     text-transform: uppercase;
     margin-bottom: 10px;
     position: relative;
     font-size: 19px;
 }

 .see-all-headlines {
     background-color: #e5e5e5;
     color: #757575;
     font-size: 16px;
     line-height: 50px;
     display: block;
     text-align: center;
     width: 100%;
 }



 #sidebar-list {
     margin-bottom: 40px;
 }

 .bullet {
     position: relative;
     padding: 15px 15px 15px 15px;
     top: 15px;
     left: -25px;
     color: #FF0500;
     list-style-position: inside;
     list-style-type: square;
     font-size: 15px;
 }

 /* Media Queries  */


 @media only screen and (min-width: 1200px) {
     .headlines-list {
         font-size: 21px;
     }
 }

 @media only screen and (max-width: 992px) {
     .headlines-list {
         font-size: 21px;
         text-align: center;
     }
 }


 @media only screen and (min-width: 1200px) {
     .headlines-title {
         font-size: 21px;
         text-align: center;
     }
 }